In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
dframe1 = DataFrame({'key':['X','Y','X','Z','X','Z'], 'dataset1':np.arange(6)})

dframe1

   dataset1 key
0         0   X
1         1   Y
2         2   X
3         3   Z
4         4   X
5         5   Z

In [4]:
dframe2 = DataFrame({'key':['A','Y','Z'], 'dataset2':[1,2,3]})

dframe2

   dataset2 key
0         1   A
1         2   Y
2         3   Z

In [5]:
pd.merge(dframe1, dframe2)

   dataset1 key  dataset2
0         1   Y         2
1         3   Z         3
2         5   Z         3

In [6]:
pd.merge(dframe1, dframe2, on = 'key')

   dataset1 key  dataset2
0         1   Y         2
1         3   Z         3
2         5   Z         3

In [7]:
pd.merge(dframe1, dframe2, on='key', how='left' )

   dataset1 key  dataset2
0         0   X       NaN
1         1   Y         2
2         2   X       NaN
3         3   Z         3
4         4   X       NaN
5         5   Z         3

In [8]:
pd.merge(dframe1, dframe2, on='key', how='right' )

   dataset1 key  dataset2
0         1   Y         2
1         3   Z         3
2         5   Z         3
3       NaN   A         1

In [9]:
pd.merge(dframe1, dframe2, on='key', how='outer')

   dataset1 key  dataset2
0         0   X       NaN
1         2   X       NaN
2         4   X       NaN
3         1   Y         2
4         3   Z         3
5         5   Z         3
6       NaN   A         1

In [10]:
pd.merge(dframe1, dframe2, on='key', how ='inner')

   dataset1 key  dataset2
0         1   Y         2
1         3   Z         3
2         5   Z         3

In [11]:
dframe1

   dataset1 key
0         0   X
1         1   Y
2         2   X
3         3   Z
4         4   X
5         5   Z