In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
ser = Series(['a','b',np.nan, 'd'])

ser

0      a
1      b
2    NaN
3      d
dtype: object

In [3]:
ser.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
ser.dropna()

0    a
1    b
3    d
dtype: object

In [5]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[np.nan, np.nan, np.nan]])

In [6]:
dframe

    0   1   2
0   1   2   3
1 NaN   5   6
2 NaN NaN NaN

In [10]:
clean_dframe = dframe.dropna()

In [11]:
clean_dframe

   0  1  2
0  1  2  3

In [12]:
dframe.dropna(how='all')

    0  1  2
0   1  2  3
1 NaN  5  6

In [13]:
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [14]:
dframe

    0   1   2
0   1   2   3
1 NaN   5   6
2 NaN NaN NaN

In [15]:
dframe.dropna(thresh=2)

    0  1  2
0   1  2  3
1 NaN  5  6

In [16]:
dframe.fillna(-1)

   0  1  2
0  1  2  3
1 -1  5  6
2 -1 -1 -1

In [17]:
dframe.fillna({0:0,1:1,2:2})

   0  1  2
0  1  2  3
1  0  5  6
2  0  1  2

In [18]:
dframe

    0   1   2
0   1   2   3
1 NaN   5   6
2 NaN NaN NaN

In [20]:
dframe.fillna(0, inplace=True)

In [21]:
dframe

   0  1  2
0  1  2  3
1  0  5  6
2  0  0  0