In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series(np.arange(3), index=['a','b','c'])

ser1 = ser1*2

ser1

a    0
b    2
c    4
dtype: int64

In [4]:
ser1['a']

0

In [7]:
ser1[2]

4

In [8]:
ser1[0:2]

a    0
b    2
dtype: int64

In [10]:
ser1[ser1>1]

b    2
c    4
dtype: int64

In [11]:
ser1[['a','b']]

a    0
b    2
dtype: int64

In [12]:
dframe = DataFrame(np.arange(25).reshape((5,5)), index=['NY','LA','SF','Chi','MA'], columns=['a','b','c','d','e'])

dframe

      a   b   c   d   e
NY    0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
Chi  15  16  17  18  19
MA   20  21  22  23  24

In [13]:
dframe >10

         a      b      c      d      e
NY   False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
Chi   True   True   True   True   True
MA    True   True   True   True   True

In [15]:
dframe.ix['MA']

a    20
b    21
c    22
d    23
e    24
Name: MA, dtype: int64

In [16]:
dframe['b']

NY      1
LA      6
SF     11
Chi    16
MA     21
Name: b, dtype: int64

In [18]:
dframe[dframe['c']>10]

      a   b   c   d   e
SF   10  11  12  13  14
Chi  15  16  17  18  19
MA   20  21  22  23  24

In [19]:
dframe[dframe>10]

      a   b   c   d   e
NY  NaN NaN NaN NaN NaN
LA  NaN NaN NaN NaN NaN
SF  NaN  11  12  13  14
Chi  15  16  17  18  19
MA   20  21  22  23  24