In [3]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [5]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [10]:
nfl_frame = pd.read_clipboard()

In [11]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [12]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Divison'],
      dtype='object')

In [13]:
nfl_frame.Team

0          Chicago Bears
1         Dallas Cowboys
2      Green Bay Packers
3         Miami Dolphins
4    San Francisco 49ers
Name: Team, dtype: object

In [14]:
DataFrame(nfl_frame, columns=['Team', 'Won', 'Lost'])

                  Team  Won  Lost
0        Chicago Bears  741   555
1       Dallas Cowboys  480   364
2    Green Bay Packers  720   547
3       Miami Dolphins  429   335
4  San Francisco 49ers  520   436

In [18]:
DataFrame(nfl_frame, columns=['Team', 'Won', 'Lost', 'd'])

                  Team  Won  Lost   d
0        Chicago Bears  741   555 NaN
1       Dallas Cowboys  480   364 NaN
2    Green Bay Packers  720   547 NaN
3       Miami Dolphins  429   335 NaN
4  San Francisco 49ers  520   436 NaN

In [19]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [21]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [22]:
nfl_frame.ix[2]

Rank                                3
Team                Green Bay Packers
Won                               720
Lost                              547
Tied                               37
Pct.                             .566
First NFL Season                 1921
Total Games                     1,304
Divison                     NFC North
Name: 2, dtype: object

In [23]:
nfl_frame['Stadium'] = "Levi's Stadium"

nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,Levi's Stadium
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,Levi's Stadium

In [24]:
nfl_frame['Stadium'] = np.arange(5)

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,3
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,4

In [26]:
stads = Series(["Levi's", "AT&T"], index=[2,4])

stads

2    Levi's
4      AT&T
dtype: object

In [27]:
nfl_frame['Stadium'] = stads

nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,NaN
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,Levi's
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,NaN
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,AT&T

In [28]:
del nfl_frame['Stadium']

nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [30]:
data = {'City':['SF','NYC','LA'], 'Population':[23,45,67]}

data

{'City': ['SF', 'NYC', 'LA'], 'Population': [23, 45, 67]}

In [31]:
city_frame = DataFrame(data)

city_frame

  City  Population
0   SF          23
1  NYC          45
2   LA          67