In [2]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index = ['a','b','c','d'])

ser1

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['a','b','c','d','e'])

ser2

a     1
b     2
c     3
d     4
e   NaN
dtype: float64

In [5]:
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
ser2 = ser2.reindex(['a','b','c','d','e','f'], fill_value=0)

ser2

a     1
b     2
c     3
d     4
e   NaN
f     0
dtype: float64

In [18]:
ser3 = Series(['us','uk', 'fra'], index=[1,5,10])

ser3

1      us
5      uk
10    fra
dtype: object

In [19]:
ranger = range(15)

ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
ser3.reindex(ranger,method='ffill')

0     NaN
1      us
2      us
3      us
4      us
5      uk
6      uk
7      uk
8      uk
9      uk
10    fra
11    fra
12    fra
13    fra
14    fra
dtype: object

This ^ works only if the original indices are monotonically increasing or decreaisng

In [21]:
dframe = DataFrame(randn(25).reshape((5,5)), index = ['a','b','d','e','f'], columns=['c1','c2','c3','c4','c5'])

dframe

         c1        c2        c3        c4        c5
a -0.254975 -0.201604 -0.981707 -0.628055  0.593745
b -0.642019 -0.596982  0.287271  0.893955  0.431304
d  0.164384 -1.691480 -0.490618  1.239124  0.100623
e  0.706192 -0.580542  0.107600  1.448372  0.920471
f  1.745233  0.672879  0.250893  0.575128  1.601374

In [23]:
dframe2 = dframe.reindex(['a','b','c','d','e','f'])

dframe2

         c1        c2        c3        c4        c5
a -0.254975 -0.201604 -0.981707 -0.628055  0.593745
b -0.642019 -0.596982  0.287271  0.893955  0.431304
c       NaN       NaN       NaN       NaN       NaN
d  0.164384 -1.691480 -0.490618  1.239124  0.100623
e  0.706192 -0.580542  0.107600  1.448372  0.920471
f  1.745233  0.672879  0.250893  0.575128  1.601374

In [25]:
new_col = ['c1','c2','c3','c4','c5','c6']

dframe2.reindex(columns=new_col)

         c1        c2        c3        c4        c5  c6
a -0.254975 -0.201604 -0.981707 -0.628055  0.593745 NaN
b -0.642019 -0.596982  0.287271  0.893955  0.431304 NaN
c       NaN       NaN       NaN       NaN       NaN NaN
d  0.164384 -1.691480 -0.490618  1.239124  0.100623 NaN
e  0.706192 -0.580542  0.107600  1.448372  0.920471 NaN
f  1.745233  0.672879  0.250893  0.575128  1.601374 NaN

In [26]:
dframe

         c1        c2        c3        c4        c5
a -0.254975 -0.201604 -0.981707 -0.628055  0.593745
b -0.642019 -0.596982  0.287271  0.893955  0.431304
d  0.164384 -1.691480 -0.490618  1.239124  0.100623
e  0.706192 -0.580542  0.107600  1.448372  0.920471
f  1.745233  0.672879  0.250893  0.575128  1.601374

In [35]:
dframe.ix[['a','b','c','d','e','f','g'], ['c1','c2','c3','c4','c5','c6','c7']]

AttributeError: '_IXIndexer' object has no attribute 'ix'

^ works for dframe2 but not dframe ????