In [2]:
import pandas as pd
import numpy as np
# Load the data
dsProgReports = pd.read_csv('School_Progress_Reports_-_All_Schools_-_2009-10.csv')
dsDistrict = pd.read_csv('School_District_Breakdowns.csv')
dsClassSize = pd.read_csv('2009-10_Class_Size_-_School-level_Detail.csv')
dsAttendEnroll = pd.read_csv('School_Attendance_and_Enrollment_Statistics_by_District__2010-11_.csv')[:-2] #last two rows are bad
dsSATs = pd.read_csv('SAT__College_Board__2010_School_Level_Results.csv') # Dependent

In [3]:
dsSATs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460 entries, 0 to 459
Data columns (total 6 columns):
DBN                      460 non-null object
School Name              460 non-null object
Number of Test Takers    460 non-null object
Critical Reading Mean    460 non-null object
Mathematics Mean         460 non-null object
Writing Mean             460 non-null object
dtypes: object(6)
memory usage: 25.2+ KB

In [4]:
pd.DataFrame(data=[dsProgReports['DBN'].take(range(5)), dsSATs['DBN'].take(range(5)), 
                   dsClassSize['SCHOOL CODE'].take(range(5))])

                  0       1       2       3       4
DBN          01M015  01M019  01M020  01M034  01M063
DBN          01M292  01M448  01M450  01M458  01M509
SCHOOL CODE    M015    M015    M015    M015    M015

In [5]:
dsProgReports['DBN'] = dsProgReports['DBN'].apply(lambda x:x[2:])

dsSATs['DBN'] = dsSATs['DBN'].apply(lambda x:x[2:])

pd.DataFrame(data=[dsProgReports['DBN'].take(range(5)), dsSATs['DBN'].take(range(5)), 
                   dsClassSize['SCHOOL CODE'].take(range(5))])

                0     1     2     3     4
DBN          M015  M019  M020  M034  M063
DBN          M292  M448  M450  M458  M509
SCHOOL CODE  M015  M015  M015  M015  M015

In [6]:
pd.DataFrame(data=[dsProgReports['DISTRICT'][:3], dsDistrict['JURISDICTION NAME'][:3], 
                   dsAttendEnroll['District'][:3]])

                                  0                 1                 2
DISTRICT                          1                 1                 1
JURISDICTION NAME  CSD 01 Manhattan  CSD 02 Manhattan  CSD 03 Manhattan
District                DISTRICT 01       DISTRICT 02       DISTRICT 03

In [7]:
import re

dsAttendEnroll['District'] = dsAttendEnroll['District'].map(lambda x: x[-2:]).astype(int)

dsDistrict['JURISDICTION NAME'] = dsDistrict['JURISDICTION NAME'].map(lambda x : re.match( r'([A-Za-z]*\s)([0-9]*([A-Za-z]*))', x).group(2)).astype(int)


pd.DataFrame(data=[dsProgReports['DISTRICT'][:3], dsDistrict['JURISDICTION NAME'][:3], 
                   dsAttendEnroll['District'][:3]])

                   0  1  2
DISTRICT           1  1  1
JURISDICTION NAME  1  2  3
District           1  2  3

In [8]:
dsProgReports = dsProgReports.set_index('DBN')
dsDistrict = dsDistrict.set_index('JURISDICTION NAME')
dsClassSize = dsClassSize.set_index('SCHOOL CODE')
dsAttendEnroll = dsAttendEnroll.set_index('District')
dsSATs = dsSATs.set_index('DBN')

In [9]:
dsSATs['Critical Reading Mean'].take(range(5))

DBN
M292    391
M448    394
M450    418
M458    385
M509      s
Name: Critical Reading Mean, dtype: object

In [10]:
mask = dsSATs['Number of Test Takers'].map(lambda x: x!='s')
dsSATs = dsSATs[mask]
dsSATs['Number of Test Takers'] = dsSATs['Number of Test Takers'].astype(int)
dsSATs['Critical Reading Mean'] = dsSATs['Critical Reading Mean'].astype(int)
dsSATs['Mathematics Mean'] = dsSATs['Mathematics Mean'].astype(int)
dsSATs['Writing Mean'] = dsSATs['Writing Mean'].astype(int)
dsSATs['Critical Reading Mean'].take(range(5))

DBN
M292    391
M448    394
M450    418
M458    385
M515    314
Name: Critical Reading Mean, dtype: int64

In [11]:
dsClassSize.columns

Index([u'BORO', u'CSD', u'SCHOOL NAME', u'GRADE ', u'PROGRAM TYPE',
       u'CORE SUBJECT (MS CORE and 9-12 ONLY)',
       u'CORE COURSE (MS CORE and 9-12 ONLY)', u'SERVICE CATEGORY(K-9* ONLY)',
       u'NUMBER OF CLASSES', u'TOTAL REGISTER', u'AVERAGE CLASS SIZE',
       u'SIZE OF SMALLEST CLASS', u'SIZE OF LARGEST CLASS', u'DATA SOURCE',
       u'SCHOOLWIDE PUPIL-TEACHER RATIO'],
      dtype='object')

In [12]:
dsClassSize.take([0,1,10]).values

array([['M', 1, 'P.S. 015 ROBERTO CLEMENTE', '0K', 'GEN ED', '-', '-', '-',
        1.0, 21.0, 21.0, 21.0, 21.0, 'ATS', nan],
       ['M', 1, 'P.S. 015 ROBERTO CLEMENTE', '0K', 'CTT', '-', '-', '-',
        1.0, 21.0, 21.0, 21.0, 21.0, 'ATS', nan],
       ['M', 1, 'P.S. 015 ROBERTO CLEMENTE', nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, 8.9]], dtype=object)

In [13]:
dsPupilTeacher = dsClassSize.filter(['SCHOOLWIDE PUPIL-TEACHER RATIO'])

mask = dsPupilTeacher.apply(lambda x: x>0)

dsPupilTeacher = dsPupilTeacher[mask]

dsClassSize = dsClassSize.drop('SCHOOLWIDE PUPIL-TEACHER RATIO', axis=1)

dsClassSize = dsClassSize.drop(['BORO','CSD','SCHOOL NAME','GRADE ','PROGRAM TYPE',
                                'CORE SUBJECT (MS CORE and 9-12 ONLY)','CORE COURSE (MS CORE and 9-12 ONLY)',
                                'SERVICE CATEGORY(K-9* ONLY)','DATA SOURCE'], axis=1)

In [14]:
grouped = dsClassSize.groupby(level=0)

grouped

In [15]:
dsClassSize = grouped.aggregate(np.max).join(grouped.aggregate(np.min), lsuffix=".max").join(grouped.aggregate(np.mean), lsuffix=".min", rsuffix=".mean").join(dsPupilTeacher)

In [16]:
dsClassSize.columns

Index([u'NUMBER OF CLASSES.max', u'TOTAL REGISTER.max',
       u'AVERAGE CLASS SIZE.max', u'SIZE OF SMALLEST CLASS.max',
       u'SIZE OF LARGEST CLASS.max', u'NUMBER OF CLASSES.min',
       u'TOTAL REGISTER.min', u'AVERAGE CLASS SIZE.min',
       u'SIZE OF SMALLEST CLASS.min', u'SIZE OF LARGEST CLASS.min',
       u'NUMBER OF CLASSES.mean', u'TOTAL REGISTER.mean',
       u'AVERAGE CLASS SIZE.mean', u'SIZE OF SMALLEST CLASS.mean',
       u'SIZE OF LARGEST CLASS.mean', u'SCHOOLWIDE PUPIL-TEACHER RATIO'],
      dtype='object')

In [17]:
mask = dsProgReports['SCHOOL LEVEL*'].map(lambda x: x=='High School')
dsProgReports = dsProgReports[mask]

In [18]:
final = dsSATs.join(dsClassSize).join(dsProgReports).merge(dsDistrict, left_on='DISTRICT', right_index=True).merge(dsAttendEnroll, left_on='DISTRICT', right_index=True)

In [19]:
final.dtypes[final.dtypes.map(lambda x: x=='object')]

School Name                      object
SCHOOL                           object
PRINCIPAL                        object
PROGRESS REPORT TYPE             object
SCHOOL LEVEL*                    object
2009-2010 OVERALL GRADE          object
2009-2010 ENVIRONMENT GRADE      object
2009-2010 PERFORMANCE GRADE      object
2009-2010 PROGRESS GRADE         object
2008-09 PROGRESS REPORT GRADE    object
YTD % Attendance (Avg)           object
dtype: object

In [20]:
final = final.drop(['School Name','SCHOOL','PRINCIPAL','SCHOOL LEVEL*','PROGRESS REPORT TYPE'],axis=1)

In [21]:
final['YTD % Attendance (Avg)'] = final['YTD % Attendance (Avg)'].map(lambda x: x.replace("%","")).astype(float)

In [ ]:
final.dtypes[final.dtypes.map(lambda x: x=='object')]

2009-2010 OVERALL GRADE          object
2009-2010 ENVIRONMENT GRADE      object
2009-2010 PERFORMANCE GRADE      object
2009-2010 PROGRESS GRADE         object
2008-09 PROGRESS REPORT GRADE    object
dtype: object

In [ ]:
gradeCols = ['2009-2010 OVERALL GRADE','2009-2010 ENVIRONMENT GRADE',
             '2009-2010 PERFORMANCE GRADE','2009-2010 PROGRESS GRADE','2008-09 PROGRESS REPORT GRADE']

grades = np.unique(final[gradeCols].values)  # op is array([nan, 'A', 'B', 'C', 'D', 'F'], dtype=object)

for c in gradeCols:
    for g in grades:
        final = final.join(pd.Series(data=final[c].map(lambda x: 1 if x is g else 0), name=c + "_is_" + str(g))) 
        
final = final.drop(gradeCols, axis=1)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

target = final.filter(['Critical Reading Mean'])
#We drop all three dependent variables because we don't want them used when trying to make a prediction.
train = final.drop(['Critical Reading Mean','Writing Mean','Mathematics Mean'],axis=1)
model = RandomForestRegressor(n_estimators=100, n_jobs=-1, compute_importances = True)
model.fit(train, target)

predictions = np.array(model.predict(train))

predictions